<!-- for 3 ping widgets, for more copy paste a li tag and increment the data-id -->
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="ping_1" data-view="Ping" data-unordered="true"></div> 
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="ping_2" data-view="Ping" data-unordered="true"></div>
</li> 
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="ping_3" data-view="Ping" data-unordered="true"></div>
</li>
